@import "../../base";

.#{$pre}-switch {
  padding: 2px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  align-self: center;
  &__v-checkbox {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 102px;
    height: 60px;
    border-radius: 62px;
    z-index: 0;
    margin: 0;
    padding: 0;
    appearance: none;
    border: 0;
    transition: all 0.3s;
    &:before,
    &:after {
      content: " ";
      position: absolute;
      background: #fff;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    &:before {
      width: 106px;
      height: 64px;
      left: -2px;
      top: -2px;
      border-radius: 56px;
      box-sizing: border-box;
      z-index: 1;
      transform: scale(1);
      border: 1px solid #e5e5ea;
    }
    &:after {
      height: 56px;
      width: 56px;
      top: 2px;
      left: 2px;
      border-radius: 56px;
      z-index: 2;
      transform: translateX(0);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
    }
  }
  &--checked {
    .#{$pre}-switch__v-checkbox {
      background: #4dd865;

      &:before {
        transform: scale(0);
      }
      &:after {
        transform: translateX(40px);
      }
    }
  }

  &--disabled {
    .#{$pre}-switch__v-checkbox {
      opacity: 0.3;
    }
  }
}

.#{$pre}-switch--warn {
  .#{$pre}-switch__v-checkbox {
    background: #f4333c;
  }
}
