@import "./mixin.scss";

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;

    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }
  
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  
  to {
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
  
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  
  to {
    transform: translate3d(100%, 0, 0);
    visibility: hidden;
  }
}

.slide-up-animation {
  @include init-animation(slideInUp, slideOutDown);
}

.slide-down-animation {
  @include init-animation(slideInDown, slideOutUp);
}

.slide-left-animation {
  @include init-animation(slideInLeft, slideOutRight);
}

.slide-right-animation {
  @include init-animation(slideInRight, slideOutLeft);
}
