@import '../../base';
$popup-header-font-size: 34px;
$popup-content-padding: 36px;

@mixin bottom-line(
  $left: 0,
  $right: 0,
  $color: $border-color-1px,
  $height: 1px
) {
  position: relative;

  &:after {
    position: absolute;
    right: $right;
    bottom: 0;
    left: $left;
    z-index: 10;
    height: $height;
    color: $color;
    border-bottom: 1px solid $color;
    transform: scaleY(0.5);
    transform-origin: 0 100%;
    content: '';
  }
}

.#{$pre}-picker-address {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px $popup-content-padding;
    font-weight: 600;
    font-size: $popup-header-font-size;
    line-height: $popup-header-font-size;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    font-size: 28px;
    background: #ffffff;

    &__hd {
      display: flex;
      height: 48px;
      line-height: 48px;

      &__column,
      &__active {
        height: 100%;
      }

      &__column {
        width: 150px;
        &__text--active {
          display: inline-block;
          @include bottom-line(0, 0, $brand-primary, 4px);
        }
      }
    }

    &__bd {
      display: flex;

      &__column {
        width: 150px;
        height: 600px;
        overflow-y: scroll;
        line-height: 68px;

        &::-webkit-scrollbar {
          width: 0;
        }

        &__text--active {
          color: $brand-primary;
          font-weight: 500;
        }
      }
    }
  }
}
