@import 'theme/var';
.#{$pre}-popup__container {
  width: 100%;
}

.#{$pre}-address-picker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 36px;
  font-weight: 600;
  font-size: 34px;
  line-height: 34px;
  background: #fff;
}
