@import '../../base';

.#{$pre}-popover {
  position: absolute;
  z-index: 2;
  border-radius: 16px;
  // z-index: 5000;
  &__content {
    text-align: center;
    background-color: #fff;
    border-radius: 16px;
    padding: 0 33px;
  }

  &__arrow {
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #fff;
    border-color: transparent;

    &--top-center {
      top: -6px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }

    &--top-left {
      top: -6px;
      left: 20%;
      transform: translateX(-50%) rotate(45deg);
    }

    &--top-right {
      top: -6px;
      left: 80%;
      transform: translateX(-50%) rotate(45deg);
    }

    &--bottom-center {
      bottom: -6px;
      left: 50%;
      transform: translateX(-50%) rotate(-135deg);
    }

    &--bottom-left {
      bottom: -6px;
      left: 20%;
      transform: translateX(-50%) rotate(-135deg);
    }

    &--bottom-right {
      bottom: -6px;
      left: 80%;
      transform: translateX(-50%) rotate(-135deg);
    }
  }

  &__item + &__item {
    border-top: 1px solid #eeeeee;
  }
}
