
 @import "../../base";
 @import "../searchBar/index.scss";

.#{$pre}-navbar{
  height: 88px;
  background-color: $brand-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 0 40px 0 30px;
  &__left{
    font-size: 40px;
  }
  &__title{
    font-size: 37px;
    line-height: 52px;
    flex: 1;
    text-align: center;
  }
  &__right{
    font-size: 28px;
    line-height: 40px;
  }
  &--default {
    background-color: #fff;
    color: #333333;
  }
}