// mixins
@import '../../base.scss';
@mixin frame {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// styles
.#{$pre}-popup {
  position: fixed;
  display: flex;
  z-index: 999;
  @include frame;

  &--bottom {
    align-items: flex-end;
  }
  &--top {
    align-items: flex-start;
  }
  &--right {
    justify-content: flex-end;
  }
  &--left {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
    align-items: center;
  }

  &__mask {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    @include frame;
  }

  &__container {
    position: relative;
    z-index: 2;
  }
}
