// change default style
.default-loading-view:before {
  background-color: #000; // change default color
}
.default-wrapper {
  width: 200px;
  height: 200px; // change default size
}
// change circle style
.circle-loading-view:before {
  background-color: #000; // change circle color
}
.circle-wrapper {
  width: 200px;
  height: 200px; // change circle size
}

// change bounce style
.bounce-wrapper {
  width: 160px;
  height: 160px; // change bounce size
}
.bounce-loading-view {
  // 用bounce__wrapper的宽度除以4
  background-color: #000; // change bounce color
  width: 40px;
  height: 40px; // change bounce size
}
