@import '../../base';

.#{$pre}-count-down {
  min-width: 200px;
  margin-left: 30px;
  padding-left: 30px;
  font-size: 32px;
  line-height: 48px;
  color: $brand-primary;
  text-align: center;
  border-left: 1px solid #eeeeee;
  &__count, &__text {
    // display: inline-block;
    width: 50%;
  }
  &__count {
    text-align: right; 
    color: #F4333C;
  }
  &__text {
    text-align: left;
    color: #999999;
  }
}
