.block-panel{
  .q-action-sheet__bd{
    background-color: #F5F5F5;
  }
  &__wrap{
    margin: 0 10px;
  }
  &__item{
    display: inline-block;
    margin: 30px 30px 16px;
    &__icon{
      width: 120px;
      height: 120px;
    }
    &__title{
      font-size: 24px;
      color: #999;
      text-align: center;
      margin-top: 5px;
    }
    &__line{
      position: relative;
      ::after{
        content: '';
        position: absolute;
        background-color: #eee;
        display: block;
        z-index: 1;
        top: 176px;
        right: -46px;
        width: 100vw;
        height: 1px;
        transform-origin: 50% 100%;
        transform: scaleY(0.5);
      }
    }
  }
  
}

.share-wrap{
  &__title{
    font-size: 36px;
    color: #333;
    text-align: center;
    line-height: 54px;
    padding-top: 40px;
  }
  &__wrap{
    display: flex;
    justify-content: center;
  }
  &__item{
    display: inline-block;
    margin: 40px 66px;
    text-align: center;
    &__icon{
      // height: 56px;
      font-size: 56px;
    }
    &__title{
      font-size: 28px;
      color: #333;
      text-align: center;
      margin-top: 24px;
    }
  }
  &--primary{
    .share-wrap__item{
      margin: 0 81px 60px; 
      &__icon{
        height: 104px;
      }
      &__title{
        font-size: 24px;
        color: #999;
        letter-spacing: 0;
        line-height: 36px;
        margin-top: 20px;
      }
    }
  }
}